table.files tbody tr.first td {
	border-top: 0 !important;
}

/* make the SSH box more narrow to make the dotfiles button fit */
.file-navigation-option .input-group {
	width: 285px !important;
}

.dimmed span,
.dimmed a {
	color: #c7c7c7 !important;
}
