.hide-files-toggle {
	display: none;
}
.hide-files-toggle:checked ~ .files .dimmed {
	display: none;
}

.hide-files-row {
	border-bottom: 1px solid #eaecef; /* Needed on non-root listings */
	font-style: italic;
	user-select: none;
	color: #c7c7c7;
}

.hide-files-row label {
	font-weight: normal;
	cursor: pointer;
}
.hide-files-row a:not(:hover) {
	color: inherit;
}
.hide-files-btn:before {
	content: 'Hide ';
}
.hide-files-toggle:checked ~ .files .hide-files-btn:before {
	content: 'Show ';
}

.dimmed span,
.dimmed a {
	color: #c7c7c7 !important;
}
