.hide-files-toggle {
	display: none;
}
.hide-files-toggle:checked ~ .files .dimmed {
	display: none;
}

.hide-files-row {
	border-bottom: 1px solid #eaecef; /* Needed on non-root listings */
	font-style: italic;
	user-select: none;
	color: #c7c7c7;
}

.hide-files-row .content {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.hide-files-row label {
	font-weight: normal;
	cursor: pointer;
}
.hide-files-row a:not(:hover) {
	color: inherit;
}
.hide-files-btn:before {
	content: 'Hide ';
}
.hide-files-toggle:checked ~ .files .hide-files-btn:before {
	content: 'Show ';
}
.hide-files-toggle:not(:checked) ~ .files .hide-files-row .hide-files-list {
	display: none;
}
.hide-files-list a {
	margin-left: 1em;
}

.dimmed span,
.dimmed a {
	color: #c7c7c7 !important;
}
