/* Uses :root for increased specificity without !important */

/* Hide the checkbox but keep it focusable */
.hide-files-toggle {
	position: absolute;
	clip: rect(0px, 0px, 0px, 0px);
}

/* Hide files when the checkbox is checked */
.hide-files-toggle:checked ~ [aria-labelledby="files"] .js-navigation-item.dimmed {
	display: none !important;
}

/* Set spacing of line container */
.hide-files-row [role="gridcell"] {
	font-style: italic;
	user-select: none;
	white-space: nowrap;
	overflow: hidden;
}
.hide-files-row a {
	margin-right: 1em;
	display: inline-block;
}

/* Correct style and color for all links */
.dimmed {
	color: #c7c7c7 !important;
}
:root:root .dimmed * {
	color: inherit !important;
}
:root:root .dimmed a:hover,
:root:root .hide-files-btn:hover,
.hide-files-toggle:focus ~ [aria-labelledby="files"] .hide-files-btn {
	color: #0366d6;
}
.hide-files-row label {
	font-weight: normal;
	cursor: pointer;
}

/* Size and style chevron */
.hide-files-btn {
	display: inline-block;
	fill: currentColor;
	text-align: center;
	font-weight: normal;
	cursor: pointer;
}
.hide-files-btn svg {
	vertical-align: middle;
}
.hide-files-btn:empty:before {
	content: 'Hide';
}
.hide-files-btn:empty:after {
	content: ' nonessentials';
}
.hide-files-toggle:checked ~ [aria-labelledby="files"] .hide-files-btn:empty:before {
	content: 'Show';
}
.hide-files-toggle:checked ~ [aria-labelledby="files"] .hide-files-btn svg {
	transform: rotate(-90deg);
}

/* The magic */
.hide-files-toggle:not(:checked) ~ [aria-labelledby="files"] .hide-files-row a {
	display: none;
}
